.crew-view{
  height: 90vh;
  width: 100%;
  display: flex;
}
.crew-information{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.crew-title{
  color: var(--white);
  letter-spacing: 4.75px;
  font-size: 28px;
}
.crew-name-information{
  width: 70%;
  color: var(--white);  
}
.crew-job{
  letter-spacing: 4.75px;
  font-size: 32px;
  text-align: left;
  color: var(--purple);
}
.crew-name{
  font-size: 100px;
  text-align: center;
  margin: 20px 0px;
}
.crew-text{
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
  color: var(--purple);
}
.crew-sidebar{
  display: flex;
  flex-direction: row;
}
.side{
  cursor: pointer;
  margin: auto 10px;
  border-radius: 50%;
  background-color: var(--purple);
  width: 20px;
  height: 20px;
}
.side:hover{
  background-color: var(--white);
}
.crew-image{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}