.destination-content{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.destination-page{
  height: 90vh;
  width: 100%;
  display: flex;
}
.destination-left-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.destination-title{
  color: var(--white);
  letter-spacing: 4.75px;
  font-size: 28px;
}
#moon, #name-moon, #text-moon, #avg-moon, #time-moon{
  display: block;
}

#europa, #name-europa, #text-europa, #avg-europa, #time-europa{
  display: none;
}
#mars, #name-mars, #text-mars, #avg-mars, #time-mars{
  display: none;
}
#titan, #name-titan, #text-titan, #avg-titan, #time-titan{
  display: none;
}
.destination-right-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planet-links{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.planet-button-nav{
  width: 20%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: transparent;
  color: var(--purple);
  font-family: 'Bellefair', serif;
  font-size: 26px;
  cursor: pointer;
}
.planet-button-nav:hover{
  color: var(--white);
  border-bottom: 5px solid var(--white);
}
.planet-name{
  width: 70%;
  color: var(--white);
}
.destination{
  font-size: 100px;
  text-align: center;
  margin: 20px 0px; 
}
.planet-text{
  width: 70%;
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
  border-bottom: 1px solid var(--purple);
  padding-bottom: 50px;
  color: var(--purple);
}
.planet-data{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-top: 20px;
}
.planet-data-title{
  color: var(--purple);
  font-size: 18px;
  letter-spacing: 2.35px;
}
.planet-data-number{
  color: var(--white);
  font-size: 28px;
  margin-top: 10px;
}
.avg-data, .time-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1200px){
  .destination-content{
    background-image: url('../../assets/destination/background-destination-tablet.jpg');
  }
  .destination-left-side {
    width: 100%;
  }
  .destination-right-side{
    width: 80%;
  }
  .destination-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .planet-image{
    width: 80%;
  }
  .planet-image img{
    width: 250px; 
    margin-left: calc(50% - 125px);
    margin-top: 50px;
  }
  .destination-title{
    font-size: 24px;
    align-self: center;
  }
  .destination{
    font-size: 70px;
  }
  .planet-text{
    font-size: 20px;
    line-height: normal;
  }
  .planet-button-nav{
    font-size: 22px;
  }
}

@media(max-width: 768px){
  .destination-content{
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
  }
  .destination-right-side{
    width: 100%;
  }
  .planet-button-nav{
    font-size: 14px;
  }
  .destination{
    font-size: 50px;
  }
  .destination-title{
    letter-spacing: normal;
    font-size: 18px;
  }
  .planet-image img{
    width: 150px; 
    margin-left: calc(50% - 75px);
    margin-top: 10px;
  }
  .planet-text{
    font-size: 16px;
    padding-bottom: 5px;
  }
  .planet-data{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .avg-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .time-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .planet-data-title{
    font-size: 14px;
  }
  .planet-data-number{
    font-size: 16px;
    margin-top: 0px;
  }
}