.crew-content{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/crew/background-crew-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.crew-page{
  display: flex;
}
.crew-left-side{
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.crew-title{
  width: 70%;
  color: var(--white);
  letter-spacing: 4.75px;
  font-size: 28px;
} 
.crew-information{
  width: 70%;
  color: var(--white);  
}
.crew-job{
  letter-spacing: 4.75px;
  font-size: 32px;
  text-align: left;
  color: var(--purple);
}
.crew-name{
  font-size: 60px;
  text-align: left;
  margin: 20px 0px;
}
.crew-text{
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
  color: var(--purple);
}
.crew-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.crew-links button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto 10px;
  background-color: var(--purple);
  cursor: pointer;
}
.crew-links button:hover{
  background-color: var(--white);
}
.crew-right-side{
  width: 50%;
  height: 90vh;
}
.position-image-crew  {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#douglas{
  display: block;
}
#mark, #victor, #anousheh{
  display: none;
}
#douglas-image{
  display: block;
}
#mark-image, #victor-image, #anousheh-image{
  display: none;
}

@media(max-width: 1200px){
  .crew-content{
    background-image: url('../../assets/crew/background-crew-tablet.jpg');
  }
  .crew-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .crew-left-side{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .crew-title{
    width: 100%;
    text-align: left;
    font-size: 22px;
  } 
  .crew-information{
    width: 90%;
  }
  .crew-job{
    letter-spacing: 2.75px;
    font-size: 26px;
    text-align: center;
  }
  .crew-name{
    font-size: 50px;
    text-align: center;
  }
  .crew-text{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
  .crew-links{
    margin-top: 10px;
  }
  .crew-links button{
    width: 20px;
    height: 20px;
  }
  .crew-right-side{
    width: 80%;
    height: 50vh;
  }
  .position-image-crew   img{
    width: 340px;
  }
}

@media(max-width: 768px){
  .crew-content{
    background-image: url('../../assets/crew/background-crew-mobile.jpg');
  }
  .crew-left-side{
    width: 100%;
  }
  .crew-title{
    text-align: center;
    font-size: 16px;
  } 
  .crew-job{
    letter-spacing: normal;
    font-size: 22px;
    margin-top: 10px;
  }
  .crew-name{
    font-size: 26px;
  }
  .crew-text{
    width: 100%;
    font-size: 16px;
    line-height: normal;
  }
  .crew-links button{
    width: 15px;
    height: 15px;
  }

  .position-image-crew   img{
    width: 200px;
  }
}