a{
  cursor: pointer;
  text-decoration: none;
  color: var(--purple);
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
}

a:hover{
  border-bottom: 5px solid rgba(255,255,255, 0.3);
}

a:active{
  border-bottom: 5px solid rgba(255,255,255, 0.9);
  color: var(--white);
}

@media(max-width: 768px){
  a{
    height: 10%;
    font-size: 22px;
  }
}